{% extends 'base.html' %}
{% block title %}
Your Sharetop
{% endblock %}
{% block content %}
{% include 'message.html' %}
<body class="text-center">
<form method="POST" class="form-sharetop" action="/sharetop_action"></form>
<br>
    <h1 class="h3 mb-3 font-weight-normal">Your Sharetop</h1>
    {% if false %}
    Status: running
    <br>
    <br>
    {{ stop_form.submit(class="btn btn-danger") }}
    {% else %}
    Status: stopped
    <br>
    <br>
    {{ start_form.submit(class="btn btn-success") }}
    {% endif %}
<br>
<form method="POST" class="form-sharetop" action="/sharetop_download"></form>
    <br>
    <br>
    <br>
    Download from your export folder
    <br>
    <br>
    {{ download_form.submit(class="btn btn-light") }}
{% endblock %}